#table-cont {
    border-radius: 35.603px;
    border: 1.641px solid var(--blle, #0267FF);
    
    flex-shrink: 0;
    height: 10px;
    padding: 20px;
}

#table-header {
    color: rgba(255, 255, 255, 0.70);

    font-size: 16.079px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#t-name {
    color: #FFF;
    font-family: Poppins;
    font-size: 20.673px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 29.861px;
    height: 29.861px;
    flex-shrink: 0;
}
#t-name img{
    width: 29.861px;
    height: 29.861px;
}
#chart-t {
    width: 84.988px;
    height: 21.642px;
    flex-shrink: 0;
}

button{
    cursor: pointer;
    font-size: large;
}

#chart-cell{
    height: 0%;
    padding-left: 20px;

}

#bbbn{
    padding-left: 20px;
}